<% for (let i = 0; i < problems.length; i++) { %>
	<article id="<%= problems[i].author.username %>_problem" class="recent_problem">
		<header class="author"><%= problems[i].author.username %> reported <time><%= problems[i].createdAt.toLocaleString() %></time></header>
		<small class="problem">
			<%= problems[i].summary %><br />
			<%= problems[i].details.slice(0, 300) %> ... <a href="/investigate/problem/<%= problems[i].problemId %> ">Read More</a>
		</small>
		<hr>
	</article>
<% } %>
