<div class="container-fluid">
	<main>
		<div class="container" id="content_holder">
			<section id="problem">
				<div id="problem_container">
					<div id="problem_content">
						<header id="problem_short">
							<h3><%= data.dataValues.summary %> </h3>
						</header>
						<article id="content">
							<p><%= data.dataValues.details %></p>
						</article>
						<article id="stats">
							<p>
								<span>
									Created by
									<a
										href="/users/<%= data.dataValues.createdBy %>">
										<%= data.dataValues.createdBy %>
									</a>
								</span>,
								<span>
									Inquired
									<time>
										<%= data.dataValues.createdAt.toLocaleString() %>
									</time>
								</span>
								<span id="delete_button_container">
									<%# Creates a delete button if logged in user owns problem %>
									<% if (meta.isUserLoggedIn && meta.loggedInUser == data.dataValues.createdBy) { %>
									<form id="delete_problem" method="POST"
										  action="/investigate/<%= data.dataValues.id %>/?_method=DELETE">
										<span>
											<button name="deleteProblem" id="delete_problem" class="btn btn-link"
												role="button" type="submit">Delete</button>
										</span>
									</form>
									<% } %>
								</span>
							</p>
						</article>
					</div>
				</div>
			</section>
			<hr />
			<section id="solutions">
				<header>
					<h3>Solutions</h3>
				</header>
				<% for (let i = 0; i < data2.length; i++ ) { %>
				<section>
					<div class="solution_container">
						<div class="solution_content">
							<%= data2[i].dataValues.createdBy %> solved
							<time>
								<%= data2[i].dataValues.createdAt.toLocaleString() %>
							</time>
							<%# Adds an edit button if solution belongs to logged in user. %>
							<% if (meta.isUserLoggedIn && meta.loggedInUser == data.dataValues.createdBy) { %>
								<span>
									<button name="editSolution" id="edit_solution" class="btn btn-link"
										role="button">Edit</button>
								</span>
							<% } %>
							<article id="solution_content">
								<p><%= data2[i].dataValues.content %></p>
							</article>
						</div>
					</div>
				</section>
				<hr />
				<% } %>
			</section>
		</div>
		<% if (meta.isUserLoggedIn && meta.loggedInUser === data.dataValues.createdBy) { %>
		<div id="edit">
			<form  method="POST" action="/investigate/<%= data.dataValues.id %>/?_method=PUT">
				<div class="form-group">
					<div class="container" id="sum_container">
						<label for="summary">Summary: </label>
						<input class="form-control" type="text" name="summary" id="summary" aria-describedby="summary"
							value="<%= data.dataValues.summary %>" />
					</div>
					<div class="container" id="detail_container">
						<label for="details"> Edit details:</label>
						<textarea type="text" class="form-control" id="details" aria-describedby="detail_help"
							cols="25" rows="10"><%= data.dataValues.details %></textarea>
					</div>
					<button type="submit" class="btn btn-primary">Submit</button>
				</div>
			</form>
		</div>
		<% } %>
	</main>
</div>
